
<div class = "container">
<h2> Your lists: </h2>

<div class = "row"><br />
  <div class = "col-xs-18 col-md-12">
      <div class = "col-xs-4 col-md-3"><strong>List Title</strong></div>
      <div class = "col-xs-4 col-md-3"><strong>Destination</strong></div>
    </div>
  </div>
<div class = "row">
  <div class = "col-md-12">

    <% @user_lists.each do |user_list| %>
      
        <div class = "col-xs-4 col-md-3"><%= user_list.title %></div>
        <div class = "col-xs-4 col-md-3"><%= user_list.description %></div>
        <div class = "col-xs-4 col-md-3"><%= link_to 'View & Add', user_list %> | 
        <%= link_to 'Edit Title', edit_list_path(user_list) %> | 
        <%= link_to 'Delete', user_list, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        <br /><br />
    <% end %>
    <hr>
    <div class = "container">
      <div class = "actions">
    <span class = "label label-info"> 
    
<%= link_to 'New List', new_list_path, :class => 'btn btn-lg btn-info' %></span> <%#= link_to 'View My Lists', user_lists_path(current_user), :class => 'btn btn-md btn-success' %>
</div>

</div>
</div>

